*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: 100%;
}
.container{
    width: 420px;
    height: 470px;
    background-color: blue;
    color: black;
    background: transparent;
    border: 1px solid white;
    border-radius: 10px;
    backdrop-filter: blur(20px);
    overflow: hidden;
}

.login-h{
    font-size: 35px;
    text-align: center;
    margin-top: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.container .input_box{
    width: 100%;
    height: 50px;
    margin: 55px;
    margin-top: 50px;
    padding: 5px;
}
.input_box input{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid grey;
    border-radius: 40px;
    padding: 0px 40px 0px 20px;
    height: 50px;
    width: 300px;
}
.input_box i{
    position: relative;
    left: -40px;
}
.loginhere{
    margin: -20px 0px 20px 90px;
    }
.login_btn{
    font-size: x-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: linear-gradient(to left,#FFC321,#EE5A25,#FFC321);
    cursor: pointer;
    border-radius: 40px;
    width: 270px;
    height: 40px;
    padding: 0px 30px 0px 30px;
    margin: 10px 0px 10px 75px;
}
button:hover{
    background-image: linear-gradient(to left,#daa81e,#d65222,#daa81e);
    color: white;
}
button:active{
    transform: scale(0.96);
}
.register_link{
    margin: 15px 0px 15px 108px;
}
a{
    color: black;
}
a:hover{
    font-weight: 700;
}

/* signup code */

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: 100%;
}
.container{
    width: 420px;
    height: 470px;
    background: transparent;
    border-radius: 10px;
    border: 2px solid white;
    backdrop-filter: blur(20px);
    position: relative;
    display: flex;
    transition: scroll 0.5s ease-in-out;
    /* overflow: hidden; */
}

.signup-h{
    font-size: 30px;
    text-align: center;
    margin-top: 15px;
}
.main{
    border-radius: 40px;
}
.hs{
    background-color: white;
    border-radius: 0px 42px 42px 0px;
}
.signup{
    background-image: linear-gradient(to left,#FFC321,#EE5A25,#FFC321);
    border-radius: 40px 0px 0px 40px ;
}
.hs a{
    text-decoration: none;
}
.container .input_box_signup{
    width: 100%;
    height: 50px;
    margin-left: 55px;
    margin-top: 30px;
    padding: 10px;
}
.input_box_signup input{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid grey;
    border-radius: 40px;
    padding: 0px 40px 0px 20px;
    height: 50px;
    width: 300px;
}
.input_box_signup i{
    position: relative;
    left: -40px;
}
button{
    font-size: x-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: linear-gradient(to left,#FFC321,#EE5A25,#FFC321);
    cursor: pointer;
    width: 270px;
    height: 40px;
    padding: 0px 50px 0px 50px;
    margin: 15px 0px 0px 0px;
    border-radius: 40px;
    
}
button:active{
    transform: scale(0.96);
}
button:hover{
    background-image: linear-gradient(to left,#daa81e,#d65222,#daa81e);
    color: white;
}
a{
    color: black;
}
a:hover{
    font-weight: 700;
}
button:hover{
    border-color: black;
}
.login_link{
    margin: 30px 0px 0px 30px;
    font-size: 17px;
}
.healthy_signup_link{
    margin: 40px 80px 40px 80px;
}
